<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/dd4e815baa.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/dd8af2371b.js" crossorigin="anonymous"></script>
        <LINK REL=StyleSheet href='/css/profile.css'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/images/LOGO2.png"/>
        <meta charset="utf-8" />
        <title>Funko Shop</title>
        <script>
            function openSlideMenu(){
                document.getElementById('menu').style.width='80vw'
                document.getElementById('content').style.marginLeft='0vw'
            }
        
            function closeSlideMenu(){
                document.getElementById('menu').style.width='0'
                document.getElementById('content').style.marginLeft='0'
            }
        </script>
    </head> <!--TERMINA HEAD DE PROFILE-->
    <body>
        <%- include('../partials/headerConBarraLat')%>
        <!--Usuario logged en la session-->
        <main class="padreperfil">
            <p class="nombreperfil">Hola <%= user.user_name %>!</p>
            <section >
                <div class="fotoperfil">
                    <img src="/images/profile_pics/<%= user.profile_img %>" class="profilepic">

                </div>
            </section>
            
        </main>
        <div class="cajaedicion">
            <p class="editarperfiltexto">editar</p>
            <form type="file" action="/" method="METODO" id="formeditperfil" enctype="multipart/form-data">
                <label for="nuevoNombreEdit">Nombre:</label>
                <input class="nombrebarra" type="text" name="nuevoNombreEdit" placeholder="Nuevo nombre"><br>
                <label for="nuevaContraseñaEdit">Contraseña:</label>
                <input class="contrabarra" type="password" name="nuevaContraseñaEdit" placeholder="Nueva contraseña"><br>
                <button type="submit" class="botoneditarperfil" formmethod="POST">Editar Perfil</button>
              </form>
        </div>

        <!--BOTON DE CERRAR SESION--><br>
        <button class="cerrarsesion"><a href="/users/logout">Cerrar sesión</a></button>
        <br>
        <br>
        <%- include('../partials/footer')%>
    </body>
</html>