<!DOCTYPE html>
<html>
    <%- include('../partials/headIndexBarraLat')%>
    <body>
        <%- include('../partials/headerConBarraLat')%>
        <%- include('../partials/carruselimagenes')%>
        <%- include('../partials/footer')%>
    </body>
</html>