<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regístrate :)</title>
    <LINK REL=StyleSheet href='/css/register.css'>
    <link rel="icon" type="image/png" href="/images/LOGO2.png"/>
</head>

<body>
    
    <div class="caja-login">
        <a href="/"><img class ='logo' src="/images/LOGO2.png" alt='LOGO'></a>
        <form>
             <!-- FOTO DE PERFIL -->
             <label for="profilepic">Imagen de Perfil</label>
             <input type="file" name="profileimg" accept="image/x-png,image/jpeg" class="botonsubir"/>
             <!-- NOMBRE COMPLETO -->
             <label for="nombrecompleto">Nombre completo</label>
             <input type="text" placeholder="Peter Parker">
            <!-- CORREO ELECTRONICO -->
            <label for="correo">Correo</label>
            <input type="email" placeholder="micorreo@email.com">
            <!--CONTRASEÑA-->
            <label for="contraseña">Contraseña</label>
            <input type="password" placeholder="Ingresar contraseña">
            <!--BOTON-->
            <input type="submit" value="Registrarme" class="botonregister">
            <!--AYUDAS LINKEADAS-->
            <a href="../users/login">¿Ya tienes cuenta? Inicia sesión</a>
            
        </form>
    </div>
            

</body>
</html>