*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    width: 100%;
    background-color: rgb(65, 143, 207);
    font-family:'Alegreya Sans', sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    background: rgb(124, 124, 124);
    min-height: 100px;
    width:100vw;
    height:14vh;
    max-height: 300px;
    justify-content: space-between;
}
.categoriaheader600px{
    display: none;
}
#content{
    position: relative;
    transition: margin-left 0.6s;
    overflow: hidden;
    width: 100%;
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:lightgray;
    opacity: none;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.6s;

}
.nav{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.nav a{
    display: block;
    padding: 7px 30px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: lightgray;
    transition: 0s;
}
.nav .close{
    position: relative;
    top:-7vw;
    left: 70vw;
    font-size: 50px;
}
.slide{
    color: black;
    font-size: 40px;
    padding-left: 4px;
    align-self: center;
}
.slide a{
    color:black
}
.fa-times{
    position: relative;
    align-items: flex-end;
    right: 36px;
    margin-right: 4px;
}

.logo{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 29%;
    min-height: 35px;
    min-width: 75px;
    width: 50vw;
    height: 30vh;
    max-width: 200px;
    max-height: 110px;
}
.logovertical{
    position: absolute;
    display: none;
}

.logosder{
    display: flex;
    position: absolute;
    display: inline-block;
    padding-right: 7px;
    font-size: 26px;
    align-self:center;
    right: 0;
}
#usercarrito{
    color: black;
    flex-direction: row-reverse;
}
.logosder .fa-shopping-cart{
    position: relative;
    right: 5.5px;
    padding-top: 12px;
    color: black;
    z-index: 10;
}
.logosder .fa-user{
    color: black;
    min-width: 29.25px;
}

.imagenBarraAbierta{
    width: 100px;
    height: 75px;
}
.imagenCategoria{
    display: none;
}

/*CARRUSEL DE IMAGENES DE PRODUCTOS*/
#imgslidermobile{
    overflow: hidden;
}
#imgslidermobile figure{
    position:relative;
    width: 500%;
    height: 50%;
    margin: 0;
    left: 0;
    animation: 20s slideimagen infinite;
}
#imgslidermobile figure img{
    float: left;
    width: 20%;
    height: 50%;

}
#imgslider2{
    overflow: hidden;
    display: none;
}
#imgslider2 figure{
    position:relative;
    width: 500%;
    height: 50%;
    margin: 0;
    left: 0;
    animation: 20s slideimagen infinite;
}
#imgslider2 figure img{
    float: left;
    width: 20%;
    height: 50%;

}
.slidercompleto{
    box-shadow:0px 1px 9px -1px black
}
@keyframes slideimagen{
    0%{left:0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left:-400%;}
}
/*Termina carrusel de productos*/
h2{
    font-family: 'Staatliches', cursive;
    font-weight: 350;
    top: 0;
}
/*FOOTER*/
.inner-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #272727;
    width: 100vw;
    height:9vh;
}
.inner-footer a{
    font-size: 40px;
    color: white;
}

.outer-footer{
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #3f3f3f;
    bottom:0;
}
/*TERMINA Footer*/

/*Productos mas buscados*/
h2{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 12vw;
    font-weight: 300;
    
}
.destacadosflechas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    overflow-x:auto;
}
.fa-arrow-down{
    padding: 0 32px;
    font-size: 6vw;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: center;

}
.producto{
    width: 47vw;
    height: 55vw;
    border-radius: 15px;
    background-color: rgb(46, 120, 180);
    margin: 3px;
    box-shadow:0px 0px 9px -2px black
}
.producto img{
    width: 100%;
    height: 100%;
}
.fa-user{
    padding: 0;
}
@media (min-width:480px){
    header{
        height:16vh;
    }
    .logo{
        display: inline-block;
        top: 3px;
        left: 32.5%;
        min-height: 35px;
        min-width: 75px;
        width: 50vw;
        height: 30vh;
        max-width: 200px;
        max-height: 110px;
    }
    
    #imgslidermobile{
        display: none;
    }
    #imgslider2{
        display: block;
        visibility: visible;
    }
    .producto{
        width: 31vw;
        height: 29vh;
        max-width: 165px;
        max-height: 165px;
    }
    .inner-footer{
        height: 10vh;
    }
}
@media (min-width:600px){
    header{
        height: 26vh;
    }
    .logo{
        top: 0px;
        left: 36.7%;
        min-height: 35px;
        min-width: 75px;
        width: 50vw;
        height: 30vh;
        max-width: 210px;
        max-height: 116px;
    }
    .categoriaheader600px a{
        text-decoration: none;
        color: black;
        font-family: 'Staatliches', cursive;
        font-weight: 500;
    }
    .categoriaheader600px a:hover{
        border-bottom:white solid 2px;
    }
    .categoriaheader600px ul{
        display: flex;
        justify-content: space-around;
        flex: 1;
        list-style: none;
        padding-right: 0px;
    }
    .categoriaheader600px ul li{
        padding: 10px;
    }
    .categoriaheader600px{
        position: absolute;
        display: inline-block;
        font-family: 'Staatliches', cursive;
        font-size: 28px;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        bottom: 0;
        z-index: 20;
    }
    .logosder{
        font-size: 32px;
        top: 10px;
    }
    .producto{
        width: 23vw;
        height: 30vh;
        max-width: 200px;
        max-height: 200px;
}
.fa-bars{display: none;

}
.logovertical{
    visibility: visible;
    top: -29px;
    left: 36.5%;
    min-height: 150px;
    min-width: 115px;
    width: 50vw;
    height: 55vh;
    max-width: 175px;
    max-height: 110%;
    z-index: 10;
}
.imagenesheader{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    bottom: 0px;
    padding-right: 35px;
}
#dwigth{
    position: relative;
    min-width:146px;
    right: 15px;
}
#harryp{
    position: relative;
    left:10px;
    min-width: 145px;
}
#mounstruo{
    position: relative;
    left: 28px;
}
#batmantexto{
    position: relative;
    left: 3px;
}

#dwigthtexto{
    position: relative;
    left: 5px;
}
#harryptexto{
    position: relative;
    left: 29px;
}
#mtexto{
    position: relative;
    left: 8px;
}
.imagenBarraAbierta{
    display: none;
}
.imagenCategoria{
    display: inline;
    justify-content: space-around;
    align-items: center;
    width: 22vw;
    height: 20vh;
    max-height: 160px;
    max-width: 120px;
    opacity: 50%;
    transition: 0,3s;
    top: 17px;
    position: relative;
}
}
@media (min-width:768px){
    .logo{
        top: -4px;
        left: 33%;
        min-height: 70px;
        min-width: 150px;
        width: 50vw;
        height: 30vh;
        max-width: 350px;
        max-height: 156px;
    }
    header{
        height: 31vh;
    }
    .logosder{
        font-size: 40px;
        top: 21px;
        padding-right: 13px;
    }
    .inner-footer{
        height: 12vh;
    }
    .inner-footer a{
        font-size: 45px;
    }
}
@media (min-width:1024px){
    .logo{
        top: -4px;
        left: 36%;
        min-height: 70px;
        min-width: 150px;
        width: 50vw;
        height: 30vh;
        max-width: 350px;
        max-height: 160px;
    }
    #imgslider2{
        display: none;
    }
    #imgslidermobile{
        display: inline-block;
    }
    .inner-footer{
        height: 14vh;
    }
    .inner-footer a{
        font-size: 50px;
    }
}
