*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #3C76B9;
    font-family:'Alegreya Sans', sans-serif;
    overflow-x: hidden;
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:lightgray;
    opacity: none;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.6s;

}
.nav{
    overflow-y: hidden;
}
.nav a{
    display: block;
    padding: 7px 30px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: lightgray;
    transition: 0s;
}
.nav .close{
    position: relative;
    top:-7vw;
    left: 70vw;
    font-size: 50px;
}
.slide{
    color: black;
    font-size: 40px;
    padding-left: 4px;
    align-self: center;
}
.slide a{
    color:black
}
    

#content{
    position: relative;
    transition: margin-left 0.6s;
    overflow: hidden;
    width: 100%;
}
header{
    display: flex;
    background: lightgray;
    width:100vw;
    height:30vw;
    position: fixed relative;
    max-height: 110px;
}
span .slide{
    flex: 1;
}

.logo{
    flex: 2;
    position: relative;
    width: 35vw;
    height: 44vw;
    max-width: 190px;
    max-height: 200px;
    top: -5.8vw;
    left: 23vw;
}
.logosder{
    position: absolute;
    flex: 3;
    display: inline-block;
    padding-right: 4px;
    font-size: 30px;
    align-self: center;
    right: 0;

}
.logosder .fa-shopping-cart{
    position: relative;
    right: 6px;
    padding-top: 12px;
    color: black;
}
.logosder .fa-user{
    color: black;
}

.imagenBarraAbierta{
    width: 100px;
    height: 75px;
}
/*REGISTRO*/
.contenedorform{
    width: 100vw;
    max-height: 80vw;
    padding: 8px;
}
form{
    padding-top: 15px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
    }

.contenedorform input{
    outline: none;
    padding: 3px;
}
.contenedorform input:focus{
    outline: lightgray solid 1px;
}
.contenedorform input{ 
    text-align: center;
} 
.inputform{
    width: 80vw;
}
.boton{
    text-align: center;
    width: 100vw;
}
.textoform{
    padding-bottom: 3px;
}
.boton1{
    width: 50vw;
    height: 50px;
    position: relative;
    right: 0px;
    font-size: 25px;
    font-family:'Nunito', sans-serif;
    
}
.cuentalog{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.contenedorform .inputform ::placeholder{
    font-size: 23px;
}
/*TERMINA REGISTRO*/

/*CARRUSEL DE IMAGENES DE PRODUCTOS*/
#imgslider{
    overflow: hidden;
}
#imgslider figure{
    position:relative;
    width: 500%;
    height: 50%;
    margin: 0;
    left: 0;
    animation: 20s slideimagen infinite;
}
#imgslider figure img{
    float: left;
    width: 20%;
    height: 50%;

}
@keyframes slideimagen{
    0%{left:0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left:-400%;}
}
/*Termina carrusel de productos*/
/*FOOTER*/
.inner-footer{
    display: block;
    margin: 0;
    padding: 0;
    background-color: #272727;
    width: 100vw;
}
.social-links{
    display: flex;
    justify-content: center;
    width: 108vw;
    height: 22vw;
}
.social-links ul{
    position: absolute;
    padding: 6vw;
    display: flex;
    width: 100vw;
    height: 30px;
}
.social-items{
    list-style: none;
    flex: 1;
    margin: 0 10px;
}
.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: #6cccc6;
    transition: all .25s;
}
.social-items a:hover{
    color: #5db3ad;
}
.outer-footer{
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #3f3f3f;
    bottom:0;
}/*TERMINA Footer*/

/*Productos mas buscados*/
h2{
    text-align: center;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: center;

}
.producto{
    width: 47vw;
    height: 55vw;
    border-radius: 8px;
    background-color: lightgray;
    margin: 3px;
}
.producto img{
    width: 100%;
    height: 100%;
}
.producto2 img{
    border-radius: 8px;
    background-color: lightgray;
    width: 50%;
    height: 55%;
    max-width: 180px;
    max-height: 180px;
}
.producto3 img{
    border-radius: 8px;
    background-color: lightgray;
    width: 50%;
    height: 55%;
    max-width: 180px;
    max-height: 180px;
}
.producto4 img{
    border-radius: 8px;
    background-color: lightgray;
    width: 50%;
    height: 55%;
    max-width: 180px;
    max-height: 180px;
}
