
<footer><!--Footer-->
    <div class="footer">
    <div class="inner-footer"> 
            <a href="#" id="social-items"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/funkoshopdh2021/" target=”_blank” id="social-items"><i class="fab fa-instagram" id="insta"></i></a>
            <a href="https://twitter.com/shop_funko" target=”_blank” id="social-items"><i class="fab fa-twitter-square"></i></a>
    </div> 
    <div class="outer-footer">
        <a href="#top">
        <img src="/images/logo2.png" class="logofooter">
        </a>
        Copyright &copy; Web FunkoShop. Todos los derechos reservados
    </div>
    </div>
</footer>