<div>
    <section class="destacadosflechas">
    <i class="fas fa-arrow-down"></i>
    <h2 class="destacados">Destacados</h2>
    <i class="fas fa-arrow-down"></i>
 </section>
    <div class="productos">
        <article class="producto"><a href="./productdetails.ejs"><img src="/images/HarryPotter1.png" onmouseover="this.src='/images/harryPotter2.png'" onmouseout="this.src='/images/HarryPotter1.png'"></a></article>
        <article class="producto"><a href="./productdetails.ejs"><img src="/images/dwigth1.png" onmouseover="this.src='/images/dwigth1.png'" onmouseout="this.src='/images/dwigth2.png'"></a></article>
        <article class="producto"><a href="./productdetails.ejs"><img src="/images/yoda2.png" onmouseover="this.src='/images/yoda.png'" onmouseout="this.src='/images/yoda2.png'"></a></article>
        <article class="producto"><a href="./productdetails.ejs"><img src="/images/joker1.png" onmouseover="this.src='/images/joker2.png'" onmouseout="this.src='/images/joker1.png'"></a></article>
    </div>
</div>