<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/dd4e815baa.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/dd8af2371b.js" crossorigin="anonymous"></script>
        <LINK REL=StyleSheet href='../public/css/stylesheet.css'>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <title>Funko Shop</title>
        <script>
            function openSlideMenu(){
                document.getElementById('menu').style.width='80vw'
                document.getElementById('content').style.marginLeft='0vw'
            }
        
            function closeSlideMenu(){
                document.getElementById('menu').style.width='0'
                document.getElementById('content').style.marginLeft='0'
            }
        </script>
    </head>
    <body>
        <div id="content">
       <header><!--HEADER-->
           <span class="slide">
               <a href="#" onclick="openSlideMenu()">
            <i class="fas fa-bars"></i></a>
           
         </span>

         <a href="./index.html"></a><img class="logo" src="../public/images/Logo2.png" alt='LOGO'></a><!--LOGO HORIZONTAL480pxMax-->
         <a href="./index.html"></a><img class="logovertical" src="../public/images/logo-funkoShop.png" alt='LOGO'></a><!--LOGO VERTICAL480Px en adelante-->
        
         <span class="logosder"><!--Carrito y user logos-->
            <a href="../views/login.html"><i class="fas fa-user" id="usercarrito"></i></a></br>
            <a href="../views/cart.html"><i class="fas fa-shopping-cart" id="usercarrito"></i></a>
         </span>
         <nav class="categoriaheader600px">
             <ul>
                 <li>
                    <a href="#" id="batmantexto">Héroes</a> 
                 </li>
                 <li>
                    <a href="#" id="dwigthtexto">Series</a> 
                 </li>
                 <li>
                    <a href="#" id="harryptexto">Peliculas</a> 
                 </li>
                 <li>
                    <a href="#" id="mtexto">Originales</a> 
                 </li>
             </ul>
         </nav>
         <div id="menu" class="nav"><!--BARRA DE NAVEGACION MOBILE-->
            <a href="#" class="close" onclick="closeSlideMenu()">
            <i class="fas fa-times"></i></a>
            <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/batmanfunko.jpg'>Héroes</a>
            <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/dwightFunko.jpg'>Series</a>
            <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/jackFunko.jpg'>Películas</a>
            <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/otrosFunko.jpg'>Originales</a>
            <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/koolaidFunko.jpg'>Todos</a>
         </div><!--TERMINA BARRA DE NAVEGACION MOBILE-->
         <div class="imagenesheader"><!--Categorias mayor a 600px-->
            <a href="#"><img class='imagenCategoria' id="batman" alt="MiniFunko" src='../public/images/batmanfunko.jpg'></a>
            <a href="#"><img class='imagenCategoria' id="dwigth" alt="MiniFunko" src='../public/images/dwightFunko.jpg'></a>
            <a href="#"><img class='imagenCategoria' id="harryp" alt="MiniFunko" src='../public/images/harrycabeza.png'></a>
            <a href="#"><img class='imagenCategoria' id="mounstruo" alt="MiniFunko" src='../public/images/otrosFunko.jpg'></a>
         </div>
            </div>
        </header>

       <section><!--Carrusel de productos-->
        <div id="imgslidermobile">
            <figure>
                <img src="../public/images/sliderdisney1MOBILE.jpg">
                <img src="../public/images/sliderstarwars2MOBILE.jpg">
                <img src="../public/images/slidermarvel3MOBILE.jpg">
                <img src="../public/images/sliderpokemon4MOBILE.jpg">
                <img src="../public/images/sliderdisney1MOBILE.jpg">
            </figure>
        </div>
        <div id="imgslider2">
            <figure>
                <img src="../public/images/disney-slider1-alto.jpg">
                <img src="../public/images/starwars-sldier2-alto.jpg">
                <img src="../public/images/marvel-slider3-alto.jpg">
                <img src="../public/images/pokemon-slider4-alto.jpg">
                <img src="../public/images/disney-slider1-alto.jpg">
            </figure>
        </div>
    </section><!--TERMINA carrusel de productos-->

       <section>
           <h2>¡Lo más Buscado!</h2>
           <div class="productos">
               <article class="producto"><a href="#"><img src="../public/images/HarryPotter1.png" onmouseover="this.src='../public/images/harryPotter2.png'" onmouseout="this.src='../public/images/HarryPotter1.png'"></a></article>
               <article class="producto"><a href="#"><img src="../public/images/dwigth1.png" onmouseover="this.src='../public/images/dwigth1.png'" onmouseout="this.src='../public/images/dwigth2.png'"></a></article>
               <article class="producto"><a href="#"><img src="../public/images/yoda2.png" onmouseover="this.src='../public/images/yoda.png'" onmouseout="this.src='../public/images/yoda2.png'"></a></article>
               <article class="producto"><a href="#"><img src="../public/images/joker1.png" onmouseover="this.src='../public/images/joker2.png'" onmouseout="this.src='../public/images/joker1.png'"></a></article>
           </div>
       </section>

       <footer class="footer"><!--Footer-->
        <div class="inner-footer"> 
            <div class="social-links">
                <a href="#" id="social-items"><i class="fab fa-facebook"></i></a>>
                <a href="#" id="social-items"><i class="fab fa-instagram" id="insta"></i></a>
                <a href="#" id="social-items"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div> 
        <div class="outer-footer">
            Copyright &copy; Web FunkoShop. Todos los derechos reservados
        </div>
    </footer><!--TERMINA Footer-->
    </body>
</html>