<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/dd4e815baa.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/dd8af2371b.js" crossorigin="anonymous"></script>
        <LINK REL=StyleSheet href='../public/css/stylesheet.css'>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap" rel="stylesheet">
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <title>Funko Shop</title>
        <script>
            function openSlideMenu(){
                document.getElementById('menu').style.width='65%'
                document.getElementById('content').style.marginLeft='65%'
            }
        
            function closeSlideMenu(){
                document.getElementById('menu').style.width='0'
                document.getElementById('content').style.marginLeft='0'
            }
        </script>
    </head>
    <body>
        <div>
        <div id="content">
       <header><!--HEADER-->
           <span class="slide">
               <a href="#" onclick="openSlideMenu()">
            <i class="fas fa-bars"></i></a>
           
        </span>
        <span class="logosder"><!--Carrito y user logos-->
            <a href="../views/login.html"><i class="fas fa-user"></i></a></br>
            <a href="../views/cart.html"><i class="fas fa-shopping-cart"></i></a>
        </span>
        <div id="menu" class="nav"><!--BARRA DE NAVEGACION MOBILE-->
            <a href="#" class="close" onclick="closeSlideMenu()">
            <i class="fas fa-times"></i></a>
            <a class= 'color1'href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/batmanfunko.jpg'>Héroes</a>
            <a class= 'color2'href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/dwightFunko.jpg'>Series</a>
            <a class= 'color1'href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/jackFunko.jpg'>Películas</a>
            <a class= 'color2'href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/otrosFunko.jpg'>Originales</a>
            <a class= 'color1'href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='../public/images/koolaidFunko.jpg'>Todos</a>
        </div><!--TERMINA BARRA DE NAVEGACION MOBILE-->
        <a href="./index.html"><img class ='logo' src="../public/images/logo-funkoShop.png" alt='LOGO'></a><!--LOGO-->
            </div>
        </div>
        </header>

       <section><!--Carrusel de productos-->
        <div id="imgslider">
            <figure>
                <img src="../public/images/disney-slider1-alto.jpg">
                <img src="../public/images/starwars-sldier2-alto.jpg">
                <img src="../public/images/marvel-slider3-alto.jpg">
                <img src="../public/images/pokemon-slider4-alto.jpg">
                <img src="../public/images/disney-slider1-alto.jpg">
            </figure>
        </div>
    </section><!--TERMINA carrusel de productos-->

       <section>
           <h2>¡Lo más Buscado!</h2>
           <div class="productos">
               <article class="producto"><a href="#"><img src="../public/images/HarryPotter1.png" onmouseover="this.src='../public/images/harryPotter2.png'" onmouseout="this.src='../public/images/HarryPotter1.png'"></a></article>
               <article class="producto"><a href="#"><img src="../public/images/dwigth1.png" onmouseover="this.src='../public/images/dwigth1.png'" onmouseout="this.src='../public/images/dwigth2.png'"></a></article>
               <article class="producto"><a href="#"><img src="../public/images/yoda2.png" onmouseover="this.src='../public/images/yoda.png'" onmouseout="this.src='../public/images/yoda2.png'"></a></article>
               <article class="producto"><a href="#"><img src="../public/images/joker1.png" onmouseover="this.src='../public/images/joker2.png'" onmouseout="this.src='../public/images/joker1.png'"></a></article>
           </div>
       </section>

       <footer class="footer"><!--Footer-->
        <div class="inner-footer"> 
            <div class="social-links">
                <ul>
                    <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="social-items"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    
                </ul>
            </div>
        </div> 
        <div class="outer-footer">
            Copyright &copy; Web FunkoShop. Todos los derechos reservados
        </div>
    </footer><!--TERMINA Footer-->
    </body>
</html>