<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form login</title>
    <LINK REL=StyleSheet href='../public/css/register.css'>
</head>

<body>
    
    <div class="caja-login">
        <a href="../views/index.html"><img class ='logo' src="../public/images/logo-funkoShop.png" alt='LOGO'></a>
                <h1>Regístrate</h1>
        <form>
             <!-- NOMBRE COMPLETO -->
             <label for="nombrecompleto">Nombre completo</label>
             <input type="text" placeholder="Peter Parker">
            <!-- CORREO ELECTRONICO -->
            <label for="correo">Correo</label>
            <input type="email" placeholder="micorreo@email.com">
            <!--CONTRASEÑA-->
            <label for="contraseña">Contraseña</label>
            <input type="password" placeholder="Ingresar contraseña">
            <!--BOTON-->
            <input type="submit" value="Registrarme">
            <!--AYUDAS LINKEADAS-->
            <a href="../views/login.html">¿Ya tienes cuenta? Inicia sesión</a>
            
        </form>
    </div>
            

</body>
</html>