<!DOCTYPE html>

<html>

<head>

	<title>Mi Carrito</title>

	<LINK REL=StyleSheet href='/css/cart.css'>
        <script src="https://kit.fontawesome.com/dd8af2371b.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



<div class="container">

	<h1>Mi Carrito</h1>

	<div class="cart">

		<div class="products">

			<div class="product">

				<img src="/images/bellotacart.jpg">

				<div class="product-info">

					<h3 class="product-name">Funko pop! Buttercup</h3>

					<h4 class="product-price">$3000</h4>

					<h4 class="product-offer"></h4>

					<p class="product-quantity">Cantidad: <input value="1" name="">

					<p class="product-remove">

						<i class="fa fa-trash" aria-hidden="true"></i>

						<span class="remove">Remover</span>

					</p>

				</div>

			</div>

			<div class="product">

				<img src="/images/batmancart.jpg">

				<div class="product-info">

					<h3 class="product-name"> Funko pop! Batman Damned</h3>

					<h4 class="product-price">$3000</h4>

					<h4 class="product-offer"></h4>

					<p class="product-quantity">Cantidad: <input value="1" name="">

					<p class="product-remove">

						<i class="fa fa-trash" aria-hidden="true"></i>

						<span class="remove">Remover</span>

					</p>

				</div>

			</div>

		</div>

		<div class="cart-total">

			<p>

				<span>Precio Total</span>

				<span>$6000</span>

			</p>

			<p>

				<span>Numero de productos</span>

				<span>2</span>

			</p>



			<a href="#">Finalizar mi compra</a>

		</div>

	</div>

</div>

<footer class="footer">
    <div class="inner-footer"> 
        <div class="social-links">
            <ul>
                <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="social-items"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                
            </ul>
        </div>
        <div class="quick-links">
            <ul>
                <li class="quick-items"><a href="#">Home</a></li>
                <li class="quick-items"><a href="#">Contact</a></li>
                <li class="quick-items"><a href="#">About us</a></li>
            </ul>
        </div>
    </div> 
    <div class="outer-footer">
        Copyright &copy; Web FunkoShop. Todos los derechos reservados
    </div>
</footer>


</body>


</html>


	