<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/dd4e815baa.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/dd8af2371b.js" crossorigin="anonymous"></script>
        <LINK REL=StyleSheet href='/css/profile.css'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/images/LOGO2.png"/>
        <meta charset="utf-8" />
        <title>Funko Shop</title>
    </head> <!--TERMINA HEAD DE create-->
    <div id="content">
        <header><!--HEADER-->
          <div id="pruebaflex">
            <span class="slide"><!--slider-->
                <a href="#">
             <i class="fas fa-bars"></i></a>
          </span>
    
          <a href="/"><img class="logo" src="/images/LOGO2.png" alt='LOGO'></a><!--LOGO-->
          <a href="/"><img class="logovertical" src="/images/logo-funkoShop.png" alt='LOGO'></a><!--LOGO(ACTUALMENTE SIN USO)-->
         
          <span class="logosder"><!--Carrito y user logos-->
             <a href="/users/login"><i class="fas fa-user" id="usercarrito"></i></a></br>
             <a href="/products/cart"><i class="fas fa-shopping-cart" id="usercarrito"></i></a>
          </span>
       </div>
          
          <div id="menu" class="nav"><!--BARRA DE NAVEGACION MOBILE-->
             <a href="#" class="close">
             <i class="fas fa-times"></i></a>
             <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/batmanfunko.jpg'>Héroes</a>
             <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/dwightFunko.jpg'>Series</a>
             <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/jackFunko.jpg'>Películas</a>
             <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/otrosFunko.jpg'>Originales</a>
             <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/koolaidFunko.jpg'>Todos</a>
          </div><!--TERMINA BARRA DE NAVEGACION MOBILE-->
             </header><!--TERMINA HEADER SIN CATEGORIAS-->
         </div>
    <body>
        <h1>Crear un nuevo Producto:</h1><br>
        <form type="file" action="/products/createProduct" class="products" method="POST" id="createProduct" enctype="multipart/form-data">
            <label for="nombreNewProduct">Nombre del Producto:</label>
            <input type="text" name="nombreNewProduct" id="nameProduct"><br>
            <!--MENSAJE DE ERROR-->
            <div>
                <small class="text-danger erNameP"></small>
            </div>
            <label for="descripNewProduct">Descripción:</label>
            <input type="text" name="descripNewProduct" id="descProduct"><br>
            <!--MENSAJE DE ERROR-->
            <div>
                <small class="text-danger erDesc"></small>
            </div>
            <label for="precioNewProduct">Precio:</label>
            <input type="text" name="precioNewProduct" id="precioProduct"><br>
            <!--MENSAJE DE ERROR-->
            <div>
                <small class="text-danger erPrecio"></small>
            </div>
            <label for="categoryNewProduct">Categoría:</label>
            <select name="categoryNewProduct">
                <option value="heroe">
                    Heores
                </option>
                <option value="movie">
                    Peiculas
                </option>
                <option value="serie">
                    Series
                </option>
                <option value="original">
                    Originales
                </option>
            </select><br>
            <label for="file">Imagen del Producto:</label>
            <input type="file" name="imagenNewProduct" accept="image/*"><br>
            <button type="submit" class="addcart" formmethod="POST">Crear Producto</button>
          </form>
          <script src="/js/front.js">
          </script>
    </body>
</html>