<!DOCTYPE html>
<html>
    <%- include('../partials/headIndexBarraLat')%>
<body>
    <%- include ('../partials/headerConBarraLat')%>
    <section class="padre768px"><!--detalle producto-->
        <div class="padreFlexDetalleProducto">
                <img src="/images/spidermansincaja.png">
        </div>
    
    <div class="contenedorprecio">
        <h2 class="nombreproducto">
            spider-man: iron spider
        </h2>
        <h4 class="descriproducto">
            Muñeco tipo Funko de 15cm para coleccionar.
        </h4>
        <h5 class="precioproducto">
            1300
        </h5>
        <form action="../products/cart.ejs" method="GET" id="botonagregar">
            <button class="addcart" type="submit" name="addcart">+ Agregar al carrito</button>
        </form>
    </div>
</section>
    <%- include('../partials/productosBuscados')%>
    <%- include('../partials/footer')%>
</body>
</html>