<!DOCTYPE html>
<html>
    <%- include('../partials/headIndexBarraLat')%>
<body>
    <%- include ('../partials/headerConBarraLat')%>
    
    <h2>¡Lo sentimos! no tienes los permisos necesarios para realizar esta acción.</h2>
    <script src="/js/front.js">
    </script>
</body>
</html>